In [1]:
import numpy as np
from datetime import datetime
import pandas as pd

In [2]:
import random

def randomtimes(start, end, n):
    frmt = '%d-%m-%Y'
    stime = datetime.strptime(start, frmt)
    etime = datetime.strptime(end, frmt)
    td = etime - stime
    return [(random.random() * td + stime) for _ in range(n)]

In [3]:
N=100

In [4]:
dates = randomtimes('01-06-2022', '30-10-2022', N)
distances=np.random.randint(low=1, high=100, size=N)
search_rank=np.random.randint(low=1e5, high=1e7, size=N)

df = pd.DataFrame({'dates':np.array(dates), 'distances':distances, 'search_rank':search_rank})
df['timestamp'] = df.dates.astype(np.int64)

In [5]:
df

                        dates  distances  search_rank            timestamp
0  2022-10-03 18:44:37.174046         60      7898059  1664822677174046000
1  2022-07-12 00:28:31.207960         52      1559165  1657585711207960000
2  2022-09-18 02:46:57.597922          7      4946519  1663469217597922000
3  2022-08-19 12:00:20.344397         77      7934807  1660910420344397000
4  2022-09-22 11:48:57.470142         94      3378973  1663847337470142000
..                        ...        ...          ...                  ...
95 2022-08-04 15:54:28.180900         80      9679007  1659628468180900000
96 2022-09-04 12:17:16.027690         31      6007022  1662293836027690000
97 2022-08-12 05:20:47.065580         81      9940275  1660281647065580000
98 2022-07-06 21:31:50.447781         94      1746031  1657143110447781000
99 2022-08-19 05:16:54.455868         73      4408639  1660886214455868000

[100 rows x 4 columns]

In [6]:
from sklearn import preprocessing
scaler2 = preprocessing.MinMaxScaler()
df1=pd.DataFrame( scaler2.fit_transform(df.drop(columns=['dates'])), columns=['distances','search_rank','timestamp'])
df1

    distances  search_rank  timestamp
0    0.602041     0.789071   0.864936
1    0.520408     0.134361   0.284012
2    0.061224     0.484222   0.756291
3    0.775510     0.792866   0.550892
4    0.948980     0.322319   0.786643
..        ...          ...        ...
95   0.806122     0.973015   0.447987
96   0.306122     0.593756   0.661941
97   0.816327     1.000000   0.500419
98   0.948980     0.153661   0.248483
99   0.734694     0.428667   0.548949

[100 rows x 3 columns]

In [7]:
df1['dates'] = dates
df1

    distances  search_rank  timestamp                      dates
0    0.602041     0.789071   0.864936 2022-10-03 18:44:37.174046
1    0.520408     0.134361   0.284012 2022-07-12 00:28:31.207960
2    0.061224     0.484222   0.756291 2022-09-18 02:46:57.597922
3    0.775510     0.792866   0.550892 2022-08-19 12:00:20.344397
4    0.948980     0.322319   0.786643 2022-09-22 11:48:57.470142
..        ...          ...        ...                        ...
95   0.806122     0.973015   0.447987 2022-08-04 15:54:28.180900
96   0.306122     0.593756   0.661941 2022-09-04 12:17:16.027690
97   0.816327     1.000000   0.500419 2022-08-12 05:20:47.065580
98   0.948980     0.153661   0.248483 2022-07-06 21:31:50.447781
99   0.734694     0.428667   0.548949 2022-08-19 05:16:54.455868

[100 rows x 4 columns]

In [8]:
df1['distances_k']=df1.distances * 4
df1['search_rank_k']=df1.search_rank * -3
df1['timestamp_k']=df1.timestamp * 15
df1['rank_sum']=df1.distances_k + df1.search_rank_k + df1.timestamp_k
df1

,distances,search_rank,timestamp,dates,distances_k,search_rank_k,timestamp_k,rank_sum
0,0.602041,0.789071,0.864936,2022-10-03 18:44:37.174046,2.408163,-2.367212,12.974036,13.014987
1,0.520408,0.134361,0.284012,2022-07-12 00:28:31.207960,2.081633,-0.403082,4.260176,5.938726
2,0.061224,0.484222,0.756291,2022-09-18 02:46:57.597922,0.244898,-1.452666,11.344367,10.136599
3,0.775510,0.792866,0.550892,2022-08-19 12:00:20.344397,3.102041,-2.378598,8.263380,8.986822
4,0.948980,0.322319,0.786643,2022-09-22 11:48:57.470142,3.795918,-0.966957,11.799652,14.628614
...,...,...,...,...,...,...,...,...
95,0.806122,0.973015,0.447987,2022-08-04 15:54:28.180900,3.224490,-2.919045,6.719812,7.025256
96,0.306122,0.593756,0.661941,2022-09-04 12:17:16.027690,1.224490,-1.781267,9.929118,9.372341
97,0.816327,1.000000,0.500419,2022-08-12 05:20:47.065580,3.265306,-3.000000,7.506289,7.771595
98,0.948980,0.153661,0.248483,2022-07-06 21:31:50.447781,3.795918,-0.460984,3.727251,7.062186
99,0.734694,0.428667,0.548949,2022-08-19 05:16:54.455868,2.938776,-1.286002,8.234234,9.887007